<header>
  <h1><a href="/">{{ site.title }}</a> 🍫</h1>
  <p>By Maxwell Jacobson</p>

  <nav class="header-nav">
    <a href='/archive'>
      <i class="fa-solid fa-box-archive"></i>
      <span>Archives</span>
    </a>
    <a href='/uses'>
      <i class="fa-solid fa-floppy-disk"></i>
      <span>Uses</span>
    </a>
    <a href='/feed.xml'>
      <i class="fa-solid fa-square-rss"></i>
      <span>RSS</span>
    </a>

  </nav>

  <pagefind-modal-trigger></pagefind-modal-trigger>
  <pagefind-modal></pagefind-modal>
</header>
