---
layout: default
---

<div class="post" data-pagefind-body>
  <div class="metadata">
    <div class="title">
      <h2 data-pagefind-meta="title">
        {{ page.title }}
      </h2>

      {% if page.category %}
        <div class="post-category">
          Category:
        <a href="/category/{{ page.category | slugify }}/">
          <span class="category-label">{{ page.category }}</span>
        </a>
        </div>
      {% endif %}

      <div class="published-date">
        {{ page.date | date: "%B %-d, %Y"}}
      </div>
    </div>
  </div>

  <div class="body">
    {{ content }}
  </div>
</div>
